
<!-- Section: Contact v.3 -->
<br>
<br>
<div class="col-12">
<section class="contact-section my-5">


    <h2 class="h1-responsive font-weight-bold text-center my-5">VISÍTANOS O PONTE EN CONTACTO CON NOSOTROS</h2>
    <!-- Form with header -->
    <div class="row">
    <div class="card col-12 col-lg-12">

  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-6">
  
          <div class="card-body form col-lg-12 col-md-12 responsive">
  
            <!-- Header -->
            <h3 class="mt-4"><mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>Escríbenos</h3>
  

            <form [formGroup]="correoForm">
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" mdbValidate [(ngModel)]="correo.nombre" formControlName="controlNombre" id="controlNombre" class="form-control" mdbInput>
                  <label for="controlNombre" class="">Nombre</label>
                  <mdb-error *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched) && correoForm.errors?.pattern">Formato incorrecto</mdb-error>
                  <mdb-success *ngIf="correoForm.valid && (correoForm.dirty || correoForm.touched)"></mdb-success>
                </div>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" mdbValidate [(ngModel)]="correo.email" formControlName="controlEmail" id="controlEmail" class="form-control" mdbInput>
                  <label for="controlEmail" class="">Correo electrónico</label>
                  <mdb-error *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched) && correoForm.errors?.pattern">Formato incorrecto</mdb-error>
                  <mdb-success *ngIf="correoForm.valid && (correoForm.dirty || correoForm.touched)"></mdb-success>
                </div>
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" mdbValidate formControlName="controlAsunto" id="controlAsunto" [(ngModel)]="correo.asunto" class="form-control" mdbInput>
                  <label for="controlAsunto" class="">Asunto</label>
                  <mdb-error *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched) && correoForm.errors?.pattern">Formato incorrecto</mdb-error>
                  <mdb-success *ngIf="correoForm.valid && (correoForm.dirty || correoForm.touched)"></mdb-success>
                </div>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" mdbValidate formControlName="controlTelefono" id="controlTelefono" [(ngModel)]="correo.telefono" class="form-control" mdbInput>
                  <label for="controlTelefono" class="">Teléfono</label>
                  <mdb-error *ngIf="correoForm.invalid && (correoForm.dirty || correoForm.touched) && correoForm.errors?.pattern">Formato incorrecto</mdb-error>
                  <mdb-success *ngIf="correoForm.valid && (correoForm.dirty || correoForm.touched)"></mdb-success>
                </div>
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <textarea type="text" mdbValidate formControlName="controlMensaje" id="controlMensaje" [(ngModel)]="correo.mensaje" class="form-control md-textarea" rows="3"
                    mdbInput></textarea>
                  <label for="controlMensaje">Escribe tu mensaje</label>
                </div>
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
          </form>
          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light" (click)="enviarCorreo()" rounded="true" mdbWavesEffect>Enviar</button> 

          </div>
  
        </div>
        <!-- Grid column -->




        <div class="col-lg-6">

        <span class="grey-text">Radiadores Ruben's <small>(Viaducto Javier Rojo Gómez)</small> </span>  
        <div class="mt-1 col-lg-12">
          <iframe class="col-md-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.4978289957403!2d-98.7261372850825!3d20.1132682865013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a73bd4b5e285%3A0x8b532aa6b5c47175!2sRadiadores%20Rubens!5e0!3m2!1ses!2smx!4v1600829007857!5m2!1ses!2smx" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <br>
        <span class="grey-text">Radiadores Ruben's <small>(Blvrd. Luis Donaldo Colosio)</small></span>  
        <div class="mt-1 col-lg-12">
          <iframe class="col-md-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.6928292911207!2d-98.7707967850826!3d20.10512338650586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d10a1ad36b8363%3A0xe043948ab5828077!2sRadiadores%20Ruben&#39;s!5e0!3m2!1ses!2smx!4v1600828538685!5m2!1ses!2smx" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

      </div>





      </div>
    </div>


    
  </div>
  </section>
</div>








<!-- Footer -->
<footer class="page-footer font-small black mt-3 darken-3">

  <div style="background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          
          
          

          <!-- Facebook -->
          <a href="https://www.facebook.com/Radiadores-Rubens-860460503988326" class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-4"></mdb-icon>
          </a>

          <!--Instagram -->
          <a href="https://www.instagram.com/radiadores_rubens/?r=nametag" class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text align-items-center"></mdb-icon>
          </a>

          <!--Whatsapp-->
          <a href="https://api.whatsapp.com/send?phone=527717021916&text=%C2%BFQu%C3%A9%20servicios%20ofrecen?" class="ins-ic">
            <mdb-icon fab icon="whatsapp" size="2x" class="white-text ml-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>



  
  <!--Texto -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class="mb-1 flex-center">  

          <div class="container text-center text-md-left mt-1">

            <!-- Grid row -->
            <div class="row mt-1">
        
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
               <a href="#/servicios"> <h6 class="text-uppercase font-weight-bold">servicios</h6></a>
                
                <p>
                  <a href="#!">Venta</a>
                </p>
                <p>
                  <a href="#!">Reparación</a>
                </p>
                <p>
                  <a href="#!">Elaboración</a>
                </p>
                <p>
                  <a href="#!">Mantenimiento</a>
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">contacto</h6>
                
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-714-7237
                </p>
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-702-1916
                </p>
                <p>
                  contactorrubens@gmail.com
                </p>
                
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-5 mb-md-0">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Sucursales</h6>
                
                <p>
                  <a href="https://goo.gl/maps/n3X9UB1ApsmVzPnF9"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Viaducto Javier Rojo Gómez</a>
                </p>

                <p>
                  <a href="https://goo.gl/maps/p8NxWoqYkspK9pxP8"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Blvrd. Luis Donaldo Colosio</a>
                </p>
                
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          
          

         


        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  


  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Radiadores Ruben's</a>
  </div>
  <!-- Copyright -->

</footer>



