<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav black" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a href="#" class="navbar-brand"><img class="navbar-logo img-fluid rounded"src="../../assets/img/logo.png"></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['principal']" mdbWavesEffect>INICIO</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['nosotros']" mdbWavesEffect>NOSOTROS</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link waves-light letra" [routerLink]="['servicios']" mdbWavesEffect>SERVICIOS</a>
        </li>
  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light letra" [routerLink]="['contacto']" mdbWavesEffect>CONTACTO</a>
        </li>

      </ul>
      <!-- Links -->
  
     

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item ">
          <a href="https://api.whatsapp.com/send?phone=527717021916&text=%C2%BFQu%C3%A9%20servicios%20ofrecen?" target="_blank">
          <mdb-icon fab icon="whatsapp" size="2x" class="white-text fab" ></mdb-icon>
          </a>
        </li>
        <li class="nav-item ml-3">
          <a href="https://www.facebook.com/Radiadores-Rubens-860460503988326">
            <mdb-icon fab icon="facebook" size="2x" class="white-text fab" ></mdb-icon>
          </a>
        </li>
        <li class="nav-item ml-3">
          <a href="https://www.instagram.com/radiadores_rubens/?r=nametag">
            <mdb-icon fab icon="instagram" size="2x" class="white-text fab" ></mdb-icon>
          </a>
        </li>
      </ul>

     
     

      



    </links>
    <!-- Collapsible content -->
  
</mdb-navbar>
  <!--/.Navbar-->

 