.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vista:hover {
    -webkit-filter: brightness(150%);
    transition: all .4s ease-in-out;
  }
  .vista{
      transition: all .4s ease-in-out;
  }

  .imagen{
    width:86rem !important; 
  
     height: 12.5rem !important;
}  

.largo{
    width:100%; 
  
     height: 18rem !important;
}  

.ima{
    width:100% !important; 
     height: 100% !important;
}  


.titulo{
    font-size:5vmax;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: transparentize($color: #D0D3D4, $amount: 0);
    text-shadow: 0 0 9px #09358d !important; 
    text-transform: uppercase !important;
  }

.subtitulo{
    font-size:7vmin;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #f82b1b;
    text-shadow: 0 0 9px #09358d !important; 
    text-transform: uppercase !important;
  } 

.letra{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: white;
}  

.texto{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: black;
}

.colorFondo{
    background-color: #09358d !important;
}  


.color{
    color: white !important;
}

.efecto:hover{
    
    box-shadow: 0px 0px 4px 4px #09358d;
    -webkit-box-shadow: 0px 0px 4px 4px #09358d;
    
    }

h4{
    text-shadow: 0 0 9px #f82b1b !important; 
    text-transform: uppercase !important;
}    