<br>
<br>
<!--Encabezado--> 
  <div class="vista view zoom z-depth-2 mb-4 waves-light mt-2">
  <img src="../../assets/img/Servicios/encabezado.jpg" class="img-fluid imagen rounded-bottom" alt="Sample-image">
  <div class="mask flex-center rgba-black-strong">
  <div class="text-white text-center py-lg-5 py-0 my-0">
    <div>
      
      <h1 class="card-title pt-2 text-white titulo">
       SERVICIOS
      </h1>

      
    </div>
  </div>
  </div>
</div> 


<div class="col-12">
<div class="row mt-2">

  
  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Servicios/Venta/venta1.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
      <div class="mask flex-center rgba-black-light">
      <div class="text-white text-center py-lg-5 py-0 my-0">
        <div>
          <h1 class="align-items-center justify-content-center text-center subtitulo">
            VENTA
          </h1>
          


          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalVenta.show()" mdbWavesEffect>VER MÁS</button>


  
        </div>
      </div>
      </div>
  </div>
  </div>


    <div class="col-lg-4 col-md-6">
      <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
        <img src="../../assets/img/Servicios/Reparacion/reparacion1.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
        <div class="mask flex-center rgba-black-light">
        <div class="text-white text-center py-lg-5 py-0 my-0">
          <div>
            <h1 class="align-items-center justify-content-center text-center subtitulo">
              REPARACIÓN
            </h1>
          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalReparacion.show()" mdbWavesEffect>VER MÁS</button>
          </div>
        </div>
        </div>
    </div>
    </div>


    <div class="col-lg-4 col-md-6">
      <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
        <img src="../../assets/img/Servicios/Elaboracion/elaboracion1.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
       <div class="mask flex-center rgba-black-light">
        <div class="text-white text-center py-lg-5 py-0 my-0">
          <div>
            <h1 class="align-items-center justify-content-center text-center subtitulo">
              ELABORACIÓN
            </h1>




            <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalElaboracion.show()" mdbWavesEffect>VER MÁS</button>

          
        
        




  
          </div>
        </div>
        </div>
    </div>
    </div>


  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Servicios/Instalacion/instalacion1.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
     <div class="mask flex-center rgba-black-light">
      <div class="text-white text-center py-lg-5 py-0 my-0">
        <div>
          <h1 class="align-items-center justify-content-center text-center subtitulo">
            INSTALACIÓN
          </h1>



          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalInstalacion.show()" mdbWavesEffect>VER MÁS</button>

        
        






        </div>
      </div>
      </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Servicios/Mantenimiento/mantenimiento1.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
      <div class="mask flex-center rgba-black-light">
      <div class="text-white text-center py-lg-5 py-0 my-0">
        <div>
          <h1 class="align-items-center justify-content-center text-center subtitulo">
            MANTENIMIENTO
          </h1>


          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalMantenimiento.show()" mdbWavesEffect>VER MÁS</button>



        </div>
      </div>
      </div>
  </div>  
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="vista zoom view rounded z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Servicios/Recarga/recarga3.jpg" class="img-fluid largo rounded-bottom" alt="Sample-image">
      <div class="mask flex-center rgba-black-light">
      <div class="text-white text-center py-lg-5 py-0 my-0">
        <div>
          <h1 class="align-items-center justify-content-center text-center subtitulo">
            SISTEMA DE AIRE ACONDICIONADO
          </h1>



          <button type="button" mdbBtn color="primary" class="colorFondo relative waves-light rounded" (click)="modalRecarga.show()" mdbWavesEffect>VER MÁS</button>




        </div>
      </div>
      </div>
  </div>

  </div>


  </div>
  </div>


<!-- Footer -->
<footer class="page-footer font-small black mt-3 darken-3">

  <div style="background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          
          
          

          <!-- Facebook -->
          <a href="https://www.facebook.com/Radiadores-Rubens-860460503988326" class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-4"></mdb-icon>
          </a>

          <!--Instagram -->
          <a href="https://www.instagram.com/radiadores_rubens/?r=nametag" class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text align-items-center"></mdb-icon>
          </a>
          <!--Whatsapp-->
          <a href="https://api.whatsapp.com/send?phone=527717021916&text=%C2%BFQu%C3%A9%20servicios%20ofrecen?" class="ins-ic">
            <mdb-icon fab icon="whatsapp" size="2x" class="white-text ml-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>



  
  <!--Texto -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class="mb-1 flex-center">  

          <div class="container text-center text-md-left mt-1">

            <!-- Grid row -->
            <div class="row mt-1">
        
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
               <a href="#/servicios"> <h6 class="text-uppercase font-weight-bold">servicios</h6></a>
                
                <p>
                  <a href="#!">Venta</a>
                </p>
                <p>
                  <a href="#!">Reparación</a>
                </p>
                <p>
                  <a href="#!">Elaboración</a>
                </p>
                <p>
                  <a href="#!">Mantenimiento</a>
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">contacto</h6>
                
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-714-7237
                </p>
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-702-1916
                </p>
                <p>
                  contactorrubens@gmail.com
                </p>
                
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-5 mb-md-0">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Sucursales</h6>
                
                <p>
                  <a href="https://goo.gl/maps/n3X9UB1ApsmVzPnF9"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Viaducto Javier Rojo Gómez</a>
                </p>

                <p>
                  <a href="https://goo.gl/maps/p8NxWoqYkspK9pxP8"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Blvrd. Luis Donaldo Colosio</a>
                </p>
                
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          
          

         


        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  


  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Radiadores Ruben's</a>
  </div>
  <!-- Copyright -->

</footer>  






<!--modalVenta-->
<div mdbModal #modalVenta="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalVenta.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">VENTA</h4>
      </div>
      <div class="modal-body">


        <div class="text-center overflow-scroll">
          <div class="zoom">
          <img src="../../assets/img/Servicios/Venta/venta2.jpg" class="rounded img-fluid mt-4" alt="Sample-image">
          </div>
          <p class="texto mt-3 zoom">RADIADORES TIPO AMERICANO Y ORIGINAL.
            <br>RADIADORES RECONSTRUIDOS
            <br>CONDENSADORES
            <br>PANALES DE COBRE
            <br>TAPAS DE PLÁSTICO DE RADIADOR
            <br>CALEFACCIÓN
            
            </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalVenta.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>



<!--modalReparación-->
<div mdbModal #modalReparacion="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalReparacion.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">REPARACIÓN</h4>
      </div>
      <div class="modal-body">


        <div class="text-center overflow-scroll">
          <div class="zoom">
            <img src="../../assets/img/Servicios/Reparacion/reparacion2.jpg" class="rounded img-fluid" alt="Sample-image">
          </div>
             <p class="mt-3">REPARACIÓN DE TODO TIPO DE RADIADOR
             <br>REPARACIÓN DE CUALQUIER FUGA DE ANTICONGELANTE DE AUTOMOTOR
             <br>SOLDADO (FUGA DE RADIADOR) COBRE Y ALUMINIO
             </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalReparacion.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>



<!--modalElaboración-->
<div mdbModal #modalElaboracion="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalElaboracion.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">ELABORACIÓN</h4>
      </div>
      <div class="modal-body">


        <div class="text-center overflow-scroll">
          <div class="zoom">
          <img src="../../assets/img/Servicios/Elaboracion/elaboracion2.jpg" class="rounded img-fluid mt-4" alt="Sample-image">
          </div>
            <p class="mt-3">TAPAS ESPECIALES DE ALUMINIO
            <br>RADIADORES ESPECIALES
            </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalElaboracion.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>



<!--modalInstalación-->
<div mdbModal #modalInstalacion="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalInstalacion.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">INSTALACIÓN</h4>
      </div>
      <div class="modal-body">


        <div class="text-center overflow-scroll">
          <div class="zoom">
            <img src="../../assets/img/Servicios/Instalacion/instalacion2.jpg" class="rounded img-fluid" alt="Sample-image">
          </div>
          <p class="mt-3">TAPAS NUEVAS DE PLÁSTICO
            <br>INSTALACIÓN DE CALEFACCIÓN
          </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalInstalacion.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>




<!--modalMantenimiento-->
<div mdbModal #modalMantenimiento="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalMantenimiento.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">MANTENIMIENTO</h4>
      </div>
      <div class="modal-body">


        <div class="text-center overflow-scroll">
          <div class="zoom">
          <img src="../../assets/img/Servicios/Mantenimiento/mantenimiento2.jpg" class="rounded img-fluid mt-4" alt="Sample-image">
          </div>
          <p class="mt-3">CAMBIO DE BOMBAS DE AGUA DE AUTOMOTOR
            <br>LAVADO A PRESIÓN DE RADIADOR
            <br>CAMBIO DE ANTICONGELANTE
            <br>SONDEO DE RADIADORES                  
          </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalMantenimiento.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>




<!--modalSistemaAireAcondicionado-->
<div mdbModal #modalRecarga="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header colorFondo">
        <button type="button" class="close pull-right color" aria-label="Close" (click)="modalRecarga.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="letra w-100" id="myModalLabel">SISTEMA DE AIRE ACONDICIONADO</h4>
      </div>
      <div class="modal-body">
        <div class="text-center overflow-scroll">
          <div class="zoom">
            <img src="../../assets/img/Servicios/Recarga/recarga2.jpg" class="rounded img-fluid" alt="Sample-image">
          </div>
          <p class="mt-3">RECARGA DE AIRE ACONDICIONADO  
          </p>
        </div>


      </div>
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn  outline="true" class="waves-effect colorFondo" mdbWavesEffect (click)="modalRecarga.hide()">CERRAR</a>


      </div>
    </div>
  </div>
</div>








