<script src="https://www.youtube.com/iframe_api"></script>
     <br>
     <br>
     <div class="mt-2">     
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view zoom vista">
            <img class="d-block w-100"  src="../../assets/img/Inicio/carousel1.jpg" alt="First slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          
          <div class="carousel-caption">
            <h3 class="tit">RADIADORES RUBEN'S</h3>
          </div>
        </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <div class="view zoom vista">
            <img class="d-block w-100" src="../../assets/img/Inicio/carousel2.jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          
          <div class="carousel-caption" routerLinkActive="active">
            <a href="https://radiadoresrubens.com.mx/#/nosotros"><h3 class="titulo">¡CONÓCENOS!</h3></a>
          </div>
        </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <div class="view zoom vista">
            <img class="d-block w-100" src="../../assets/img/Inicio/carousel3.jpg" alt="Third slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          
          <div class="carousel-caption">
            <a href="https://radiadoresrubens.com.mx/#/servicios"><h3 class="titulo">SERVICIOS</h3></a>
          </div>
        </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
          <div class="view zoom vista">
            <img class="d-block w-100" src="../../assets/img/Inicio/carousel4.jpg" alt="fourth slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          
          <div class="carousel-caption">
            <a href="https://radiadoresrubens.com.mx/#/contacto" ><h3 class="titulo">CONTÁCTANOS</h3></a>
          </div>
        </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>

  <div class="col-lg-12 col-md-12">
    <img class="imagen img-fluid rounded container" src="../../assets/img/logo.png">
  </div>
  
<div class="embed-responsive embed-responsive-16by9 col-lg-9 container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PgB1VcB7oF8" allowfullscreen></iframe>
</div>


<!-- Footer -->
<footer class="page-footer font-small black mt-3 darken-3">

  <div style="background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          
          
          

          <!-- Facebook -->
          <a href="https://www.facebook.com/Radiadores-Rubens-860460503988326" class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-4"></mdb-icon>
          </a>

         <!--Instagram -->
         <a href="https://www.instagram.com/radiadores_rubens/?r=nametag" class="ins-ic">
          <mdb-icon fab icon="instagram" size="2x" class="white-text align-items-center"></mdb-icon>
        </a>
          <!--Whatsapp-->
          <a href="https://api.whatsapp.com/send?phone=527717021916&text=%C2%BFQu%C3%A9%20servicios%20ofrecen?" class="ins-ic">
            <mdb-icon fab icon="whatsapp" size="2x" class="white-text ml-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>



  
  <!--Texto -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class="mb-1 flex-center">  

          <div class="container text-center text-md-left mt-1">

            <!-- Grid row -->
            <div class="row mt-1">
        
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
               <a href="#/servicios"> <h6 class="text-uppercase font-weight-bold">servicios</h6></a>
                
                <p>
                  <a href="#!">Venta</a>
                </p>
                <p>
                  <a href="#!">Reparación</a>
                </p>
                <p>
                  <a href="#!">Elaboración</a>
                </p>
                <p>
                  <a href="#!">Mantenimiento</a>
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">contacto</h6>
                
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-714-7237
                </p>
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-702-1916
                </p>
                <p>
                  contactorrubens@gmail.com
                </p>
                
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-5 mb-md-0">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Sucursales</h6>
                
                <p>
                  <a href="https://goo.gl/maps/n3X9UB1ApsmVzPnF9"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Viaducto Javier Rojo Gómez</a>
                </p>

                <p>
                  <a href="https://goo.gl/maps/p8NxWoqYkspK9pxP8"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Blvrd. Luis Donaldo Colosio</a>
                </p>
                
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          
          

         


        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  


  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Radiadores Ruben's</a>
  </div>
  <!-- Copyright -->

</footer>


















