  <br>
  <br>
  
  <div class="vista view zoom z-depth-2 mb-4 waves-light mt-2">
    <img src="../../assets/img/Nosotros/img1.jpeg" class="img-fluid imagen rounded-bottom" alt="Sample-image">
   <a> <div class="mask flex-center rgba-black-light">
    <div class="text-white text-center py-lg-5 py-0 my-0">
      <a href="#"><div>
        
        <h1 class="card-title vista pt-2 titulo">
         RADIADORES RUBEN'S
        </h1>

      </div></a>
      <p class="texto">"EL ESPECIALISTA EN EL SISTEMA DE ENFRIAMIENTO"</p>

    </div>
    </div></a>
</div> 

<div class="col-12">

<div class="row uk-display-inline-block justify-content-center">
  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Nosotros/mision.jpg" class="img-fluid rounded-bottom largo" alt="Sample-image">
     <a> <div class="mask flex-center rgba-black-light">
      <div class="text-white text-center py-lg-5">
       
          
          <h2>
            MISIÓN
            <!--<img src="../../assets/img/misionpng.png" class="logo izquierda">-->
          </h2>

          <p class="mx-5 clearfix d-md-block letra"> Radiadores Rubens contribuye a realizar un trabajo de calidad para el servicio del sistema de enfriamiento de su automóvil, para satisfacer a nuestros clientes con eficiencia y eficacia de nuestras actividades de servicio al cliente.</p>
        
      </div>
      </div></a>
  </div>
  </div>



  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Nosotros/vision.jpeg" class="img-fluid rounded-bottom largo" alt="Sample-image">
     <a> <div class="mask flex-center rgba-black-strong">
      <div class="text-white text-center py-lg-5 py-0 my-0">
        
          <h2>
            <!--<img src="../../assets/img/ojo.png" class="logo izquierda">-->
            VISIÓN
          </h2>

          <p class="mx-5 clearfix d-md-block letra">Ser la empresa líder en el sistema de enfriamiento en el ámbito automotriz, mejorando calidad y servicio, abarcando mayores puntos de venta en el estado de Hidalgo.</p>
        
      </div>
      </div></a>
  </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="vista view rounded zoom z-depth-2 mb-4 waves-light">
      <img src="../../assets/img/Nosotros/valores.jpeg" class="img-fluid rounded-bottom largo" alt="Sample-image">
     <a> <div class="mask flex-center rgba-black-strong">
      <div class="text-white text-center py-lg-5 py-0 my-0">
       
          <h2>
            VALORES
          </h2>

          <p class="mx-5 clearfix d-md-block letra">-Compromiso <br> -Entusiasmo <br> -Innovación <br> -Seguridad</p>
        
      </div>
      </div></a>
  </div>
  </div>

</div>
</div>






<!-- Footer -->
<footer class="page-footer font-small black mt-3 darken-3">

  <div style="background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          
          
          

          <!-- Facebook -->
          <a href="https://www.facebook.com/Radiadores-Rubens-860460503988326" class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-4"></mdb-icon>
          </a>

          <!--Instagram -->
          <a href="https://www.instagram.com/radiadores_rubens/?r=nametag" class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text align-items-center"></mdb-icon>
          </a>
          <!--Whatsapp-->
          <a href="https://api.whatsapp.com/send?phone=527717021916&text=%C2%BFQu%C3%A9%20servicios%20ofrecen?" class="ins-ic">
            <mdb-icon fab icon="whatsapp" size="2x" class="white-text ml-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>



  
  <!--Texto -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-1">
        <div class="mb-1 flex-center">  

          <div class="container text-center text-md-left mt-1">

            <!-- Grid row -->
            <div class="row mt-1">
        
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
               <a href="#/servicios"> <h6 class="text-uppercase font-weight-bold">servicios</h6></a>
                
                <p>
                  <a href="#!">Venta</a>
                </p>
                <p>
                  <a href="#!">Reparación</a>
                </p>
                <p>
                  <a href="#!">Elaboración</a>
                </p>
                <p>
                  <a href="#!">Mantenimiento</a>
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">contacto</h6>
                
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-714-7237
                </p>
                <p>
                  <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 771-702-1916
                </p>
                <p>
                  contactorrubens@gmail.com
                </p>
                
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-5 mb-md-0">
        
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Sucursales</h6>
                
                <p>
                  <a href="https://goo.gl/maps/n3X9UB1ApsmVzPnF9"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Viaducto Javier Rojo Gómez</a>
                </p>

                <p>
                  <a href="https://goo.gl/maps/p8NxWoqYkspK9pxP8"><mdb-icon fas icon="home" class="mr-1"></mdb-icon> Blvrd. Luis Donaldo Colosio</a>
                </p>
                
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          
          

         


        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  


  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Radiadores Ruben's</a>
  </div>
  <!-- Copyright -->

</footer>