


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vista:hover {
    -webkit-filter: brightness(150%);
    transition: all .4s ease-in-out;
  }
  .vista{
      transition: all .4s ease-in-out;
  }


  .imagen{
    width:86rem !important; 
  
     height: 12.5rem !important;
}  

.letra{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size:0.82em;
    color: transparentize($color: #D0D3D4, $amount: 0);
    text-shadow: 0 0 9px #09358d !important; 
    text-transform: uppercase !important;
}

.titulo{
    font-size:5vmax;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: transparentize($color: #D0D3D4, $amount: 0);
    text-shadow: 0 0 9px #f82b1b; 
    text-transform: uppercase;
  }

.subtitulo{
    font-size:38px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  } 


h2{
    font-size: 2.5em;
    color: #f82b1b;
    text-shadow: 0 0 9px #09358d; 
    text-transform: uppercase;
   // font-weight: bold !important;
}  


.logo{
    display:block;
    margin:auto;
    width: 2.1rem;
    height: 2.1rem;
    }  

 
.ajuste {
        width: 50%;
        margin: auto;
        padding: 15px;
        
      }
      
      
.izquierda {
        float: left;
        margin: auto;
      }

.texto{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size:4vmin;
    text-shadow: 0 0 9px  #09358d; 
    text-transform: uppercase;
    
}

.largo{
    width: 100% !important;
}

 
      

      

     







      

      